# Streamlit for Project 1

imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
fpath = 'data/sales_predictions_2023.csv'
df = pd.read_csv(fpath)
original_df = df.copy()
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In a notebook, prepare the dataset and save it as a new .csv file for your app

  * Correct inconsistencies in the Item_Fat_Content column
  * Drop Item_Identifer, Outlet_Identifier, and Outlet_Establishment_Year

In [3]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [4]:
fat_dict = {
  'LF' : 'Low',
  'reg': 'Regular',
  'low fat': 'Low'
}

df['Item_Fat_Content'] = df['Item_Fat_Content'].replace(fat_dict)

df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    3006
Low         428
Name: Item_Fat_Content, dtype: int64

In [5]:
df = df.drop(columns = ['Item_Identifier', 'Outlet_Identifier', 'Outlet_Establishment_Year'])

In [6]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,High,Tier 3,Supermarket Type1,994.7052

In [7]:
features_dict = {
  'Item_Weight': 'Weight',
  'Item_Visibility': 'Visibility',
  'Item_Fat_Content': 'Fat Content',
  'Item_Type': 'Type',
  'Item_MRP': 'Manufacturer\'s Recommended Price (MRP)',
  'Outlet_Size': 'Outlet Size',
  'Outlet_Location_Type': 'Outlet Location Type',
  'Outlet_Type': 'Outlet Type',
  'Item_Outlet_Sales': 'Outlet Sales'
}

In [8]:
# df = df.rename(columns=features_dict)

In [9]:
df.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,NaN,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,High,Tier 3,Supermarket Type1,994.7052

In [10]:
df.to_csv('data/sales_predictions_2023_preprocessed.csv', index=False)

In [11]:
type(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           7060 non-null   float64
 1   Item_Fat_Content      8523 non-null   object
 2   Item_Visibility       8523 non-null   float64
 3   Item_Type             8523 non-null   object
 4   Item_MRP              8523 non-null   float64
 5   Outlet_Size           6113 non-null   object
 6   Outlet_Location_Type  8523 non-null   object
 7   Outlet_Type           8523 non-null   object
 8   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(4), object(5)
memory usage: 599.4+ KB

NoneType

In [12]:
graph = {
  0: [1, 4],
  1: [0, 2, 3, 4],
  2: [1, 3],
  3: [1, 2, 4],
  4: [0, 1, 3]
}

In [13]:
def dfs(graph, start):
  visited = set()
  stack = [start]
  while stack:
    node = stack.pop()
    if node not in visited:
      # code here
      print(node)
      visited.add(node)
    for neighbor in graph[node]:
      if not neighbor in visited:
        stack.append(neighbor)
  return visited

print('DFS', dfs(graph, 0))

0
4
3
2
1
DFS {0, 1, 2, 3, 4}

In [14]:
from collections import deque

def bfs(graph, start):
  visited = set()
  q = deque([start])
  while q:
    node = q.popleft()
    if not node in visited:
      print(node)
      visited.add(node)
    for neighbor in graph[node]:
      if not neighbor in visited:
        q.append(neighbor)

  return visited

print('BFS', bfs(graph, 0))

0
1
4
2
3
BFS {0, 1, 2, 3, 4}

In [15]:
def dfs_path(graph, src, dst):
  visited = set()
  stack = [(src, [src])]
  while stack:
    node, path = stack.pop()
    if not node in visited:
      if node == dst:
        return path
      visited.add(node)

    for neighbor in graph[node]:
      if not neighbor in visited:
        elm = (neighbor, path + [neighbor])
        stack.append(elm)
  return None

print(dfs_path(graph, 4, 1))

[4, 3, 2, 1]

In [16]:
def bfs_path(graph, src, dst):
  visited = set()
  q = deque([[src]])
  while q:
    path = q.popleft()
    node = path[-1]
    if not node in visited:
      if node == dst:
        return path
      visited.add(node)
    for neighbor in graph[node]:
      if not neighbor in visited:
        q.append(path + [neighbor])
  return None

print(bfs_path(graph, 4, 1))

[4, 1]